*{
    cursor: pointer;
}
.walrus-showing , .slide-show , .fade-show{
    display: none;
}
.clickable, .slide-toggle, .fade-color{
    color: #0088cc;
}

.clickable:hover, .slide-toggle:hover , .fade:hover {
    color: blueviolet;

}
